html, body {
  font-family: "Courier New";
  margin: 0;
  height: 100%;
}

button {
  font-family: "Times";
  font-weight: bold;
  padding: 10, 10
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  background-color: #81D8D3;
  overflow: hidden;
  height: 100%;
}
#myboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#new_19, #new_13, #new_9 {
  background-color: #ffe6e6;
  color: #669999;
  font-size: 20px;
  width: 15vw;
  padding: 15px;
}

#remove_submit {
  background-color: #669999;
  color: white;
  font-size: 15px;
  padding: 8px;
}

#pass, #undo, #resign, #sgf_down, #sgf_up, #remove_this {
  background-color: #ffe6e6;
  color: #669999;
  font-size: 15px;
  width: 12vw;
  padding: 8px;
  margin-top: 1em;
}

#greeting_message {
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 1px 1px #669999;
  color: white;
  text-align: center;
  margin-top: 1em;
}

#turn, #illegal_move_message, #result, #remove {
  font-size: 2vw;
  color: white;
  text-align: center;
  margin-top: 1em;
}

#header {
  background-color: white;
  font-family: "Times";
  font-size: 3vw;
  letter-spacing: 3px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  text-shadow: 1px 1px #669999;
  font-weight: bold;
  color: #81D8D3;
  text-align: left;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  text-align: center;
}

.center-container a {
  display: inline-block;
  margin-top: 1em;
}
