<!DOCTYPE html>
<html>
  <head>
    <title>Haylee&ampGo</title>
    <link rel="icon" href="assets/haylee-logo-192x192.png" sizes="192x192" />
    <link rel="stylesheet" href="assets/haylee-go.css" type="text/css" />
  </head>

<body>
  <section id="header">HAYLEE&ampGO</section>

  <section id="main">

  <div id="top_nav">
    <div class="center-container">
      <a><button id="pass" onclick="passXHR()" style="display: none;">Pass</button></a>
      <a><button id="resign" onclick="resignXHR()" style="display: none;">Resign</button></a>
      <a><button id="sgf_down" onclick = "downloadSGF();" style="display: none;">Download SGF</button></a>
      <a><input id="sgf_upload_file" type="file" name="sgf" accept=".sgf" onchange="sgf_upload_go(this);" style="display: none;">
      <button id="sgf_up" onclick="sgf_upload_start(event);" style="display: none;">Upload SGF</button></a>
    </div>
  </div>

    <canvas id="myboard" style="display: none">Go Board</canvas>

    <script src="assets/canvas.js"></script>
    <script>
      var board_js = {{ RUNNING_BOARD }};
      updateBoard(board_js);
    </script>

    <div id="illegal_move_message" style="display: none;">Illegal move. Try again?</div>

    <div id="turn" style="display: none;">BLACK to play: Play or Pass!</div>

    <div id="result" style="display: none;">Result</div>

    <div id="greeting_message">Hello! Wanna play Go?</div>

    <div id="remove" style="display: none;">Select dead stones:
    <input id="remove_this" type="text" name="dead">
    <input type="submit" onclick="removeXHR(document.getElementById('remove_this').value)" style="background-color:#557A95;color:white;font-size:100%"></div>

    <div class="center-container">
      <a><button id="new_19" onclick="newGameXHR(19)">19x19</button></a>
      <a><button id="new_13" onclick="newGameXHR(13)">13x13</button></a>
      <a><button id="new_9" onclick="newGameXHR(9)">9x9</button></a>
    </div>

    <script src="assets/sgf.js"></script>
</section>
</body>
</html>
