<!DOCTYPE html>
<html>
  <head>
    <title>Haylee Go</title>
    <link rel="icon" href="assets/haylee-logo-192x192.png" sizes="192x192" />
    <link rel="stylesheet" href="assets/haylee-go.css" type="text/css" />
  </head>

<body>
  <div class="container">
    <h1>Welcome to Haylee Go</h1>

    <canvas id="myboard" style="border:2px solid #000000;">
      If the browser can't display the canvas, this text is rendered.
    </canvas>

    <script src="assets/canvas.js"></script>
    <script>
      var board_js = {{ RUNNING_BOARD }};
      updateBoard(board_js);
    </script>


    <div id="greeting_message">{{ GREETING }}</div>
    <div id="illegal_move_message" style="display: none;">Illegal move. Try again?</div>
    {{ PROMPT }}
{% if METHOD == 'POST' %}
    {% if GAME_STATE.state == 'SCORING' and GAME_STATE.removed == False %}
       <form method="post"> Select dead stones:
         <input type="text" id="remove" name="dead"><br>
         <input type="hidden" name="command" value="Dead Stones">
         <input type="submit" name="button" value="Submit" style="background-color:Tomato;color:white;font-size:150%">
       </form>
    {% endif %}
    {{ RESULT_PRINT }}
{% endif %}

{% if GAME_STATE.state in ['PLAYING', 'WAITING'] %}
  <!--<form method="post"> Now handled from XHR
    <input type="hidden" id="xcoord" name="xcoord"><br>
    <input type="hidden" id="ycoord" name="ycoord"><br>
    <input type="hidden" name="command" value="New Move">
    <input type="submit" id="submit" name="button" style="display: none">
  </form>-->

  <button type="button" onclick="passXHR()" style="background-color:MediumSeaGreen;color:white;font-size:150%">Pass</button>

  <button type="button" onclick="resignXHR()" style="background-color:Orange;color:white;font-size:150%">Resign</button>

{% endif %}

  <button type="button" onclick="newGameXHR()" style="background-color:SlateBlue;color:white;font-size:150%">New Game</button>


</div>
</body>
</html>
