<!DOCTYPE html>
<html>
  <head>
    <title>Haylee Go</title>
    <link rel="icon" href="assets/haylee-logo-192x192.png" sizes="192x192" />
    <link rel="stylesheet" href="assets/haylee-go.css" type="text/css" />
  </head>

<body>
  <div class="container">
    <h1>Welcome to Haylee Go</h1>

    <canvas id="myboard" style="border:2px solid #000000;">
      If the browser can't display the canvas, this text is rendered.
    </canvas>

    <script src="assets/canvas.js"></script>
    <script>
      var board_js = {{ RUNNING_BOARD }};
      updateBoard(board_js);
    </script>

  <div id="illegal_move_message" style="display: none;"><br><br>Illegal move. Try again?</div>

  <div id="result" style="display: none;">Result</div>

  <div id="greeting_message"><br><br><h3>Hello! How about a nice game of Go?</h3></div>

  <div id="remove" style="display: none;">Select dead stones:
  <input id="remove_this" type="text" name="dead">
  <input type="submit" onclick="removeXHR(document.getElementById('remove_this').value)" style="background-color:Tomato;color:white;font-size:100%"></div>

  <div id="turn" style="display: block"><h4>BLACK to play: Play or Pass!</h4></div>

<div class="field">
  <button id="pass" type="button" onclick="passXHR()" style="background-color:MediumSeaGreen;color:white;font-size:150%;display: block">Pass</button>

  <button id="resign" type="button" onclick="resignXHR()" style="background-color:Orange;color:white;font-size:150%;display: block">Resign</button>

  <button type="button" onclick="newGameXHR()" style="background-color:SlateBlue;color:white;font-size:150%">New Game</button>
</div>
</div>
</body>
</html>
